body {
    background: black;
    color: white;
}

/* a {
    text-decoration: none;
    color: lightblue;
} */

.contact h1{
    color: silver;
}

#about {
    color: grey;
    background-color: white;
}