body {
    background: black;
    color: white;
}

/* a {
    text-decoration: none;
    color: lightblue;
} */

.contact h1{
    color: lightyellow;
}

#about {
    color: black;
    background-color: white;
    font-weight: bold;
}

.date {
    display: inline-block;
    position: relative;
    right: 10px
}